* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.container--padding-nav {
  padding: 2rem 1rem 2.2rem;
}
.grid {
  display: grid;
}



.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--2-cols--28rem {
  grid-template-columns: 28rem 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--5-cols-deals {
  grid-template-columns: repeat(5, 1fr);
  overflow: auto;
}
.grid--6-cols-footer {
  grid-template-columns: 2fr repeat(5, 1fr);
}
.grid--5-cols-home {
  grid-template-columns: repeat(5, 1fr);
}
.grid--5-cols-region {
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
}
.grid--5-cols-recommended {
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  overflow: auto;
}

.grid--4-cols--bottom {
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 1rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.subheader {
  margin-bottom: 2.4rem;
}
